body{
    margin: 0 auto;
    padding: 0;
    background-color: #333;
}
.pai{
    width: 100%;
    padding: 0 auto;
    margin: 0 auto;
    height: 100vh;
    background-color: #333;
}
.header{
    width: 90%;
    margin: 0 auto;
    height: auto;
    
}

.banner{
    width: 100%;
    height: auto;
    margin: 0 auto;
    display: block;
}

.topo{
    width: 90%;
    margin: 0 auto 10px auto;
    background-color: #2b2b2b;
}

.descrição{
    width: 60%;
    display: inline-block;
    margin: 0 auto;
    justify-content: first baseline;
}

.texto-topo{
    text-align: center;
    color: #fff;
    font-size: 18px;
    width: 100%;
    max-width: 250px;
    margin: 0 auto;

}

.menu{
    width: 100%;
    max-width: 350px;
    display: inline-block;
    justify-content: flex-end;
    background-color: #2b2b2b;
    padding: 15px;
    height: auto;
    margin: 0 0 0 auto;
    
    
    
}

.menu-item{
    
    display: inline-block;
    margin: 0 20px 0 auto;
    color: #fff;
    padding: 10px 15px;
    text-decoration: none;
    background-color: #444;
    border-radius: 5px;
    font-size: 18px;
        
}
.menu-item:hover{
    background-color: #555;
}

.carousel {
    position: relative;
    width: 100%;
    margin: 50px auto;
    overflow: hidden;
}

.carousel-image {
    display: flex;
    min-width: 100%;
    transition: opacity 0.5s ease;
}

.video-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
}

video {
    width: 100%;
    height: auto;
}

.carousel-image {
    width: 100%;
    height: 400px;
}
.carousel-images{
    display: flex;
}

button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0,0,0,0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 50%;
}

button:hover {
    background-color: rgba(0,0,0,0.8);
}

.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0,0,0,0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 1;
}

.prev {
    left: 10px;
    z-index: 999;
}

.next {
    right: 10px;
}

.texto-trabalho{
    width: 90%;
    
    display: block;
    margin: 0 auto;
    border-bottom: 1px solid #fff;

}

.meus-trabalhos{
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
}

.banner-email-mkt01{
    width: 100%;
    height: 400px;
    border: 1px solid #eee;
    max-width: 300px;
}
.texto-email-mkt01{
    text-align: center;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    padding: 0 auto;
    margin: 0 auto;
}